force-app/main/default/flows/sse_Opportunity_Close_Competitive_Screen_and_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Sends a subsequent message into channel
10/7 - Moved to its own flow for performance improvements</description>
        <name>Notfiy_Competitive_Team</name>
        <label>Notify Competitive Team</label>
        <locationX>608</locationX>
        <locationY>959</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C042X40AWQ7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <stringValue>hello</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T03SSQQ1F0A</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Decision branch for W v L</description>
        <name>Closed_Won_or_Lost</name>
        <label>Closed Won or Lost?</label>
        <locationX>578</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Competitive_Survey_Lost_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competitive_Survey_Won_Screen</targetReference>
            </connector>
            <label>Won</label>
        </rules>
    </decisions>
    <description>Screen that is delivered into slack for the opportunity owner to fill in competitive info and also messages a competitive intl channel

Activating version which removes the slack message and moves into its own flow to bypass [An error occurred while processing an action [1622819031-48288 (-1970480374)]. Including a field update for yes/no radio and timestamp. Works as expected broken into 3 flows rather than 2. Third flow is &quot;sse_Opportunity_Close_Competitive_Channel_Send&quot;</description>
    <dynamicChoiceSets>
        <description>Competitor Field</description>
        <name>picklistchoiceCompetitor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Competitor__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistchoiceLostReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SDO_Sales_Reason_Lost__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Slack</environments>
    <formulas>
        <name>fAppID</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!Get_Variables.sse_Which_App_To_Use__c},&quot;Sales Cloud for Slack&quot;),&quot;A028VJ1KG3G&quot;,
IF( ISPICKVAL({!Get_Variables.sse_Which_App_To_Use__c},&quot;Service Cloud for Slack&quot;),&quot;A01RDL2NJAH&quot;,
&quot;A03269G3DNE&quot;))</expression>
    </formulas>
    <formulas>
        <description>competitor that will never be null for the message to slack</description>
        <name>fCompetitor</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Competitor}, {!Competitor_0})</expression>
    </formulas>
    <formulas>
        <name>fHyperlink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340})) &amp;{!Get_Opportunity.Id}</expression>
    </formulas>
    <interviewLabel>Opportunity Close Competitive Screen and Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Close Competitive Input</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Current state opportunity</description>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>578</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Variables</name>
        <label>Get Variables</label>
        <locationX>578</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Won_or_Lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sse_Flow_Demo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Closed Second Message</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sse_demo_constants__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_0</name>
        <label>Update Opportunity</label>
        <locationX>710</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Confirmation_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>Competitor_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Sales_Competition__c</field>
            <value>
                <elementReference>Any_additional_information_to_share_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Sales_Reason_Lost__c</field>
            <value>
                <elementReference>Where_did_we_lose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Sales_Winning_Competitor__c</field>
            <value>
                <elementReference>Competitor_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sse_Competitive_Team_Follow_Up__c</field>
            <value>
                <elementReference>Should_the_competitive_team_follow_up_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sse_Opportunity_Close_Flow_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>values in a win</description>
        <name>Update_Opportunity_Won</name>
        <label>Update Won Opportunity</label>
        <locationX>446</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Confirmation_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>Competitor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Sales_Competition__c</field>
            <value>
                <elementReference>Any_additional_information_to_share</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sse_Competitive_Team_Follow_Up__c</field>
            <value>
                <elementReference>Should_the_competitive_team_follow_up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sse_Deal_Roadblocks__c</field>
            <value>
                <elementReference>Where_did_you_encounter_friction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sse_Deal_Strategy__c</field>
            <value>
                <elementReference>win_strategy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sse_Opportunity_Close_Flow_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Competitive_Survey_Lost_Screen</name>
        <label>Competitive Survey Lost</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opportunity_0</targetReference>
        </connector>
        <fields>
            <name>Display_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please take a few minutes to tell us about the deal.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Competitor_0</name>
            <choiceReferences>picklistchoiceCompetitor</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Competitor__c</elementReference>
            </defaultValue>
            <fieldText>Competitor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Where_did_we_lose</name>
            <choiceReferences>picklistchoiceLostReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Where did we lose?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Any_additional_information_to_share_0</name>
            <dataType>String</dataType>
            <fieldText>Any additional information to share?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Should_the_competitive_team_follow_up_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Should the competitive team follow up?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Competitive_Survey_Won_Screen</name>
        <label>Competitive Survey Won</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opportunity_Won</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please take a few minutes to tell us about your win.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Competitor</name>
            <choiceReferences>picklistchoiceCompetitor</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Competitor__c</elementReference>
            </defaultValue>
            <fieldText>Competitor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>win_strategy</name>
            <fieldText>How did you win?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Where_did_you_encounter_friction</name>
            <fieldText>Where did you encounter friction?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Any_additional_information_to_share</name>
            <dataType>String</dataType>
            <fieldText>Any additional information to share?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Should_the_competitive_team_follow_up</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Should the competitive team follow up?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_screen</name>
        <label>Confirmation screen</label>
        <locationX>446</locationX>
        <locationY>874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayDone</name>
            <fieldText>&lt;p&gt;All set! Thanks!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>*New competitive intel submission!*
*Opportunity:* &lt;{!fHyperlink}|{!Get_Opportunity.Name}&gt;
*Stage:* {!Get_Opportunity.StageName}
*Competitor:* {!fCompetitor}
*Submitted By:* &lt;@{!Get_Variables.sse_Button_Label__c}&gt;</text>
    </textTemplates>
    <variables>
        <name>survey_follow_up</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>survey_friction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID passed in from other flow</description>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>winning_method</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
