force-app/main/default/flows/sse_Opportunity_Close_Competitive_Intel_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Screen_Flow</name>
        <label>Send Screen Flow</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <actionName>sse_Opportunity_Close_Competitive_Screen_and_Message</actionName>
        <actionType>slackSendMessageToLaunchFlow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionInput__buttonLabel</name>
            <value>
                <elementReference>Get_Variables.sse_Button_Label__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActionInput__slackAppIdForToken</name>
            <value>
                <elementReference>fAppID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActionInput__slackBotName</name>
            <value>
                <elementReference>Get_Variables.sse_Bot_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActionInput__slackConversationId</name>
            <value>
                <elementReference>Get_Variables.sse_Slack_ID_Recipient__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActionInput__slackMessage</name>
            <value>
                <stringValue>{!fName}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActionInput__slackWorkspaceIdForToken</name>
            <value>
                <elementReference>Get_Variables.sse_Slack_Workspace__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varOpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <description>Triggered off an opportunity being closed (won or lost) that sends the message into slack to click the screen flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>fAppID</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!Get_Variables.sse_Which_App_To_Use__c},&quot;Sales Cloud for Slack&quot;),&quot;A028VJ1KG3G&quot;,
IF( ISPICKVAL({!Get_Variables.sse_Which_App_To_Use__c},&quot;Service Cloud for Slack&quot;),&quot;A01RDL2NJAH&quot;,
&quot;A03269G3DNE&quot;))</expression>
    </formulas>
    <formulas>
        <name>fName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Variables.sse_Slack_Message__c},&quot;/name/&quot;,{!$Record.Name})</expression>
    </formulas>
    <interviewLabel>Opportunity Close Competitive Intel Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Close Competitive Intel Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get the custom metadata for this flow</description>
        <name>Get_Variables</name>
        <label>Get Variables</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Screen_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sse_Flow_Demo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Closed Initial Message</stringValue>
            </value>
        </filters>
        <filters>
            <field>sse_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sse_demo_constants__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Variables</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
